.error {
    color: red;
    font-style: italic;
    font-weight: 700;
}
.content{
    min-height: 550px;
}
.footer-area{
    background: #3ca9e8;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    margin-top: 20px;
}
.footer-area p{
    margin: 0;
}
.table :hover{
    background-color: rgb(247, 151, 8);
}
.reg_h1{
    background-color: red;
}